.MainContainer {
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.MainContainer h2 {
  color: #666;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
  
}
.BlockContainer{
  height: 110vh;
  width: 50vw;
  box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  /* background-image: linear-gradient(160deg, #ffff 50%, #ffc300 50%, #ffc300); */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  
}

.TextBlock {
  color: #2b567d;
  font-family: 'Montserrat-Light';
  font-weight: 500;
  font-size: 1.8rem;
  width: 80%;
  height: 90%;
  margin: 0 auto;
  text-align: justify;
  margin-top: 1rem;
  line-height: 1.5;
}

.ImagesContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 8rem;
  
}
.Button {
  display: block;
  height: 3rem;
  color: #ffffff;
  width: 12rem;
  background-color: #ffc300;
  border: 0;
  border-radius: 0.4rem;
  font-family: "Montserrat-Bold";
  font-size: 1.25rem;
  cursor: pointer;
  transition: 0.2s;
  margin: 0 auto;
  text-align: center;
  line-height: 3rem;
  text-align: center;
}

.Button:hover{
  background-color: #FFAF00;
}
.Button:active{
  background-color: #ffc300;
}

@media screen and (max-width: 414px) {
  .BlockContainer {
    width: 95vw;
    height: fit-content
  }

  .TextBlock {
    font-size: 1.2rem;
    text-align-last: left;
    text-align: justify;
    hyphens: auto;
  }

  .Button {
    margin-bottom: 2rem;
    text-align: center;
    padding-left: 1.4rem;
  }
}