.DivContainer {
    height: 100vh;
    width: 100vw;
}
.ImageContainer {
    height: 85%;
    width: 100%;
    background-image: url(../../assets/images/home/Hombre-sin-camisa.jpg);
    background-size: cover;
    background-position-y: -10rem;

}
.messageContainer{
 width: 45%;
 height: 100%;
 display: flex;
 flex-direction: column;
}
.messageContainer h2 {
    margin: auto auto;
    color: #ffc300;
    font-size: 8rem;
    text-align: end;
    width: 72%;
}
.btnPlanes{
    margin: auto auto;
    height: fit-content;
    width: 65%;
    padding: 1.3rem;
    color: #ffffff;
    background-color: #ffc300;
    border: 0;
    border-radius: .5rem;
    font-family:'Montserrat-Bold';
    font-size: 2rem;
    cursor: pointer;
    transition: .3s;
    display: block;
}
.Arrows{
    margin-bottom: 1rem;
}
.ArrowLeft{
    height: 3rem;
    width: 3rem;
    transform: rotate(90deg);
    padding-left: 1rem;
}
.ArrowRight{
    height: 3rem;
    width: 3rem;
    transform: rotate(-90deg);
    padding-right: 1rem;
}
.Arrows h2{
    color: #ffffff;
    height: 100%;
    margin: 0;
    width: fit-content;
    display: inline;
    font-size: 4rem;
}