.Container {
    display: inline-block;
    position: absolute;
    margin: .5% 0;
    width: 74vw;
    z-index: 9997;
}

.Bar{
    display: flex;
    float: right;
}

.Bar select{
    display: inline;
    width: 13rem;
    padding-right: .6rem;
    background-color: white;
    border: 0;
    color: #013565;
    font-size: 1.4rem;
    font-family: 'Montserrat-Medium';
    appearance: none;
    background-image: url('../../assets/icons/arrow-blue.png');
    background-repeat: no-repeat;
    background-position: 11.3rem;
    background-size: 1.2rem 1.2rem;
}



.Bar img{
    margin: auto 0;
    width: 3rem;
    height: 3rem;
}
