.sectionContact {
  /* height: 100vh; */
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: linear-gradient(175deg, #eee 50%, #ffc300 50%, #ffc300);
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
}

h1 {
  color: #666;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 16px;
}

p {
  color: #888;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 32px;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  background-color: #fff;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.2);
}

.formGroup label .formElement{
  grid-column: 1 / -1;

}

label {
  display: block;
  margin-bottom: 5px;
  color: #1a1a1a;
  font-size: 14px;
  font-weight: 800;
}

.formElement {
  appearance: none;
  outline: none;
  border: none;

  display: block;
  width: 100%;

  border-radius: 8px;
  padding: 12px 16px;
  background-color: #f3f3f3;
  transition: 0.4s;
}

input{
  background-color: #888;
}

textarea {
  resize: none;
  min-height: 100px;
  width: 100px;
}

.submitGroup {
  grid-column: 1 / -1;
  text-align: right;
  width: fit-content;
  justify-content: center;
  justify-self: center;
  
}

.submitGroup>input{
  background-color: #ffc300;
  font-size: 0.9rem;
  font-weight: 600;
}

.submitGroup>input:hover{
  background-color: transparent;
  border: 1px solid black;
  color: #ffc300;
  font-weight: bold;
  transform: scale(1.1);
}