.BarContainer {
    position: fixed;
    border-top: 1rem solid #ffc300;
    width: 100%;
}
.FilterBar {
    background-color: #003566 ;
    margin: 0 auto;
    width: 70%;
    border-radius: 0 0 0.375rem 0.375rem;
    height: 6rem;
    box-shadow: rgb(81, 81, 81) 0 .3rem .6rem 0;
}

.FilterBar p {
    margin:0;
    color: #ffffff;
    font-family: 'Montserrat-Regular';
    font-size: 1.2rem;
    margin-left: 2%;
}
.OptionsContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}

.BtnOption{
    padding: .3rem;
    width: 9rem;
    margin-bottom: 1.5rem;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-family: 'Montserrat-Regular', sans-serif;
    font-weight: 100;
    font-size: 17px;
    cursor: pointer;
}
.BtnOptionActive {
    background-color: #ffc300;
}

.BtnOptionType{
    padding: .3rem;
    text-align: center;
    width: 10rem;
    margin: 0;
    margin-bottom: 1.5rem;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-family: 'Montserrat-Regular', sans-serif;
    font-weight: 100;
    font-size: 17px;
    cursor: pointer;
    transition: .25s;
}

.BtnActive{
    color: white;
    background-color: #ffb300;
}
.DropMenuIntensityContainer{
    margin: 0;
    margin-top: 1.6rem;
    position: absolute;
    z-index: 9998;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transition-delay: .2s;
    padding-top: 1rem;
    box-shadow: #646464 .1rem .1rem 1rem;
}

.DropMenuContainer{
    margin: 0;
    margin-top: 1.6rem;
    position: absolute;
    z-index: 9998;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transition-delay: .2s;
    padding-top: 1rem;
    box-shadow: #646464 .1rem .1rem 1rem;
}

.DropMenuIntensity{
    margin: 0;
    z-index: 9999;
    display: grid;
    background-color: white;
    gap: 1rem;
    grid-template-columns: 1fr;
    opacity: 1;
    visibility: hidden;
    transition-delay: .0s;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    cursor: auto;
}

.DropMenu{
    margin: 0;
    z-index: 9999;
    display: grid;
    background-color: white;
    gap: 1.7rem;
    grid-template-columns: repeat(3,1fr);
    opacity: 1;
    visibility: hidden;
    transition-delay: .0s;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    cursor: auto;
}

.BtnOptionType:hover .DropMenuContainer, .BtnOptionType:hover .DropMenuIntensityContainer{
    margin: 0;
    margin-top: 1.6rem;
    position: absolute;
    z-index: 9999;
    background-color: white;
    opacity: 1;
    visibility: visible;
    display: block;
    transition-delay: .2s;
}

.BtnOptionType:hover .DropMenu, .BtnOptionType:hover .DropMenuIntensity{
    visibility: visible;
    transition-delay: 0s;
}


.DropMenuBtn{
    border: 0;
    font-family: 'Montserrat-Regular';
    width: 7.7rem;
    height: 2rem;
    text-align: center;
    color: #003566;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: #d5d2d2 -0.1rem 0.15rem .4rem;
    transition: .25s;
    background-color: white;
}

.DropMenuBtn:hover{
    background-color: #ffc300;
}

.DropMenuBtn:active{
    background-color: #ffe185;
}

.DeleteButton{
    background-color: #ffc300;
    display: block;
    width: 100%;
    height: 1.8rem;
    font-family: "Montserrat-Bold";
    color: white;
    font-size: 1.3rem;
    margin: 0;
    text-align: center;
    border: 0;
    margin-top: 2rem;
    cursor: pointer;
    transition: .2s;
}

.DeleteButton:hover{
    background-color: #ffb300;
}

.DeleteButton:active{
    background-color: #ffe185;
}

.Active {
    background-color: #ffc300;
}

.Trash{
    height: 2.5rem;
    width: 2.5rem;
    display: none;
    cursor: pointer;
    margin-bottom: 2rem;
}

.TrashActive{
    display: inline-block;
}

.FilterBtn{
    padding: .2rem;
    width: 12rem;
    margin-bottom: 1.5rem;
    background-color: #ffc300;
    color: white;
    border: 0;
    border-radius: 5px;
    font-family: 'Montserrat-Semibold', sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .2s;
}

.FilterBtn:hover{
    background-color: #ffb300;
}

.FilterBtn:active{
    background-color: #ffe185;
}


@media screen and (max-width: 1366px){
    .DropMenuContainer{
        right: 9%;
    }
}
