
.conteinerTodo{
    background-color:white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.h1{
    margin-top: 150px;
    font-family:'Montserrat-Bold';
    color: #ffc300;
    font-size: 7rem;
}


.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:'Montserrat-Bold';
    color:#013565;
    font-size: 2rem;
    
}

.txt{
    font-family:'Montserrat-Bold';
    color:#013565;
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 100px;
    margin-left: 70px;
    margin-bottom: 200px;
    
}

.img{
 width: 180px; 
 margin-top: 20px;
margin-left: 27px;
}

.fondoBrad{
    background-color: #ffc300;
    width: 230px;
    height: 360px;
    margin-left: 3px;
    margin-right: 430px;
}

.instructor{
    font-family:'Montserrat-Bold';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.6rem;
}

.contentHorarios{
    background-color: #b30f0f;
    height: 340px;
    width: 600px;
    margin-top: 2rem;    
    margin-right: 1rem;
}

.fondoinstrYHor{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    
}

.mujerBox{
    width: 530px;
    height: 360px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-left: 10px;
    
}

.fondoMujer{
    background-color: #ffc300;
    width: 550px;
    height: 380px;   
    margin-left: 150px;
}

.conjuntoMujerycaja{
    background-color: #ffffff;
    width: 700px;
}

.detalleparrafo{
    background-color: rgb(58, 248, 131);
    width: fit-content;
    height: fit-content;
    display: flex;    
    margin-left: 80px;
    margin-right: 40px;
}

.div1{
background-color: red;
width: fit-content;
height: fit-content;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 30px;
}

.div2{
background-color: aqua;
width: 100px;
height: 100px;
margin-left: 30px;
margin-left: 30px;
}

.div3{
background-color: greenyellow;
width: 100px;
height: 100px;
margin-left: 30px;
margin-left: 30px;
}

.div4{
background-color: blueviolet;
width: 100px;
height: 100px;
margin-left: 30px;
margin-left: 30px;
}

.li {
    background-color: #013565;
    color: white;
}



.ul{
    background-color: #ffc300;
}