.MainConteiner {
  margin: 0 auto;
  padding: 0 1rem;
  padding-top: 2rem;
  height: 40rem;
  width: 40rem;
  box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.2);
  border-radius: 0.4rem;
  background-color: rgb(255, 255, 255);
}
.DaysContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.DaysContainer p {
  text-align: center;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
}
.DaysContainer input {
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}
.BigBigContainer {
  position: absolute;
  display: inline-block;
  width: 80vw;
}

.ArrowIcon {
  margin-top: 0.6rem;
  height: 3.5rem;
  transform: rotate(90deg);
}

.Description {
  margin-bottom: 1rem;
  width: 30vw;
}
.Description input {
  background-color: #f3f3f3;
  padding: 0 1rem;
  width: 100%;
  min-height: 3.5rem;
  margin-top: 0.4rem;
  margin-left: 2rem;
}

.SaveButton {
  height: 3rem;
  color: #ffffff;
  width: 13rem;
  background-color: #ffc300;
  border: 0;
  border-radius: 0.4rem;
  font-family: "Montserrat-Bold";
  font-size: 1.25rem;
  cursor: pointer;
  transition: 0.2s;
  display: block;
  margin: 0 auto;
}

.SaveButton:hover {
  background-color: #ffaf00;
}
.SaveButton:active {
  background-color: #ffc300;
}

.DeleteButton {
  margin-left: 12%;
  width: 12rem;
  height: 3rem;
  color: #ffffff;
  background-color: #e11d1d;
  border: 0;
  border-radius: 0.4rem;
  font-family: "Montserrat-Bold";
  font-size: 1.25rem;
  cursor: pointer;
  transition: 0.2s;
}

.DeleteButton:hover {
  background-color: rgb(182, 22, 22);
}

.DeleteButton:active {
  background-color: #e11d1d;
}

.ButtonContainer {
  margin: 0 auto;
  margin-top: 15rem;
  width: 27.5rem;
  margin-bottom: 2rem;
}

.texto {
  font-family: "Montserrat-Bold";
  font-size: 1.25rem;
  margin-left: 1rem;
}

.tex {
  color: #013565;
  font-family: "Montserrat-Bold";
  font-size: 2rem;
  margin-left: 1.3rem;
}

.Navigation {
  display: flex;
  margin-top: 6rem;
}

.hr {
  color: #ffaf00;
}
