.BGContainer {
  padding-top: 12rem;
}
.Container {
  border: solid 0.1rem #b8b8b8;
  width: 25%;
  padding: 2rem;
  margin: 0 auto;
  border-radius: 3%;
  text-align: center;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Container h1 {
  font-family: "Montserrat-Medium";
  font-size: 1.4rem;
  color: #202124;
  font-weight: 400;
}

.ForgotPassword {
  font-family: "Montserrat-SemiBold";
  text-align: start;
  margin-top: 0;
  font-size: 1rem;
  font-weight: 100;
  color: #ffaf00;
  margin-bottom: 3rem;
  cursor: pointer;
}

.Description {
  margin-bottom: 2.5rem;
  font-family: "Montserrat-Regular";
  font-size: 1rem;
  color: #202124;
  font-weight: 550;
}

.Container input {
  border: 0.01rem #b8b8b8 solid;
  background-color: white;
  border-radius: 0.4rem;
}

.ButtonLogIn {
  display: block;
  margin: 0 auto;
  font-family: "Montserrat-SemiBold";
  font-size: 1rem;
  padding: 0.3rem;
  border: 0;
  border-radius: 0.3rem;
  cursor: pointer;
  color: white;
  background-color: #ffc300;
  width: 8rem;
  margin-bottom: 1rem;
}

.ButtonLogIn:hover{
  background-color: #FFAF00;
}
.ButtonLogIn:active{
  background-color: #ffc300;
}
.ButtonHover {
  background-color: #FFAF00;
}

.ButtonCreate {
  display: block;
  color: #ffaf00;
  background-color: transparent;
  font-family: "Montserrat-SemiBold";
  font-size: 1rem;
  padding: 0;
  padding-top: 0.3rem;
  border: 0;
  cursor: pointer;
  width: 10rem;
  margin: 0 auto;
}

.text {
  color: #ffaf00;
}
.PasswordIcon {
  margin-left: -30px;
  margin-right: 10px;
  cursor: pointer;
  z-index: 1;
}
.PasswordInput {
  position: relative;
  display: flex;
  align-items: center;
  width: 29.6rem;
}
.Input {
  padding-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media screen and (max-width: 414px){

  .Container{
    width: 60%;
  }
}
.modal{
  flex-direction: column;
  display: flex;
  position: fixed;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9998;
  background-color: white;
  box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.2);
  border-radius: .4rem;
  min-height: 20rem;
  min-width: 30rem;
}
.text{
  font-family: 'Montserrat-Medium';
  font-weight: 600;
  color: #013565;
  text-align: center;
  width: 27rem;
  padding: 2rem;
  font-size: 3rem;
}
.SaveButton {
  height: 3rem;
  color: #ffffff;
  width: 13rem;
  background-color: #ffc300;
  border: 0;
  border-radius: 0.4rem;
  font-family: "Montserrat-Bold";
  font-size: 1.25rem;
  cursor: pointer;
  transition: 0.2s;
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.SaveButton:hover {
  background-color: #ffaf00;
}
.SaveButton:active {
  background-color: #ffc300;
}