.BGContainer{
    padding-top: 12rem;
}

.Container{
    border: solid .1rem #b8b8b8 ;
    width: fit-content;
    padding: 2rem;
    margin: 0 auto;
    border-radius: 3%;
    text-align: center;
    min-height: 20rem;
}

.Container h1{
    font-family: 'Montserrat-Medium';
    font-size: 1.4rem;
    color: #202124;
    font-weight: 400;
}

.ForgotPassword{
    font-family: 'Montserrat-SemiBold';
    text-align: start;
    margin-top: 0;
    font-size: 1rem;
    font-weight: 100;
    color: #FFAF00;
    margin-bottom: 3rem;
    cursor: pointer;
}

.Description{
    margin-bottom: 2.5rem;
    font-family: 'Montserrat-Regular';
    font-size: 1rem;
    color: #202124;
    font-weight: 550;
}

.Container input{
    border: 0.01rem #b8b8b8 solid;
    background-color: white;
    border-radius: .4rem;
}

.ButtonLogIn{
    display: block;
    margin: 0 auto;
    font-family: 'Montserrat-SemiBold';
    font-size: 1rem;
    padding: .3rem;
    border: 0;
    border-radius: .3rem;
    cursor: pointer;
    color: white;
    background-color: #ffc300;
    width: 8rem;
    margin-bottom: 1rem;
}

.ButtonCreate{
    display: block;
    color: #FFAF00;
    background-color: transparent;
    font-family: 'Montserrat-SemiBold';
    font-size: 1rem;
    padding: 0;
    padding-top: .3rem;
    border: 0;
    cursor: pointer;
    width: 10rem;
    margin: 0 auto;
}



