.MainConteiner{
  margin-left: 5rem;
  display: grid;
    justify-content: center;
    align-items: center;
  padding-top: 1rem;
  height: 40rem;
  width: 50rem;
  box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.2);
  border-radius: .4rem;
  background-color: rgb(255, 255, 255);
}

.ArrowIcon{
height: 3.5rem;
transform: rotate(90deg);
}

.Description{
margin-bottom: 1rem;
width: 30vw;
}
.Description input{
background-color: #f3f3f3;
padding: 0 1rem;
width: 100%;
min-height: 3.5rem;
margin-top: .4rem;
margin-left: 2rem;
}

.SaveButton{
height: 3rem;
color: #ffffff;
width: 13rem;
background-color: #ffc300;
border: 0;
border-radius: 0.4rem;
font-family: "Montserrat-Bold";
font-size: 1.25rem;
cursor: pointer;
transition: 0.2s;
margin-left: 1rem;
}

.SaveButton:hover{
background-color: #FFAF00;
}
.SaveButton:active{
background-color: #ffc300;
}

.DeleteButton{
margin-left: 12%;
width: 12rem;
height: 3rem;
color: #ffffff;
background-color: #E11D1D;
border: 0;
border-radius: 0.4rem;
font-family: "Montserrat-Bold";
font-size: 1.25rem;
cursor: pointer;
transition: 0.2s;
}

.DeleteButton:hover{
background-color: rgb(182, 22, 22);
}

.DeleteButton:active{
background-color: #E11D1D;
}

.ButtonContainer{
margin: 0 auto;
margin-top: 15rem;
width: 27.5rem;
margin-bottom: 2rem;
}

.texto{
font-family: "Montserrat-Bold";
font-size: 1.25rem;
margin-left:1rem;
}

.tex{
color: #013565;
font-family:'Montserrat-Bold';
font-size: 2rem;
margin-left: 1.3rem;
}

.hr{
color:#FFAF00
}