.nav{
    padding-top: .6rem;
    padding-bottom: .6rem;
    padding-right: 2%;
    display: flex;
    background-color:#013565 ;
    min-height: 6rem;
    z-index: 99999;
    position: fixed;
    gap: 2%;
    left: 0;
    right: 0;
}

.nav a {
    margin-bottom: 0;
}

.nav ul {
    margin: 0;
}

.Checkbox{
    display: none;
}

.Label{
    display: none;
    margin: auto 0;
    color: white;
    font-size: larger;
    font-family: 'Montserrat-Bold';
    cursor: pointer;
}

.Link a {
    text-decoration: none;
}

.OptionsContainer {
    height: 100%;
    width:fit-content;
}

.OptionsContainer li{
    position: relative;
    float: left;
}

.OptionsContainer li a{
    color: white;
    display: block;
}


.IconContainer{
    display: flex;
    align-items: center;
    margin-right: 3%;
    cursor: pointer;
}

.IconContainer h2{
    font-family: 'Montserrat-Bold';
    color: #ffffff;
    width: 3rem;
    text-align: start;
    
}

.IconContainer .IconMan{
    position: relative;
    height: 5rem;
    width: 5rem;
    left: 6%;

}

.IconContainer .IconWeight{
    height: 2rem;
    margin-top: 2rem;
    margin-left: .6rem;
}

.OptionsContainer{
    list-style-type: none;
    display: flex;
    gap: 5rem;
    align-items: center;
    margin-right: auto;
    padding-left: 0;
}

.btnPlanes{
    margin: auto 0;
    height: 3rem;
    color: #ffffff;
    background-color: #ffc300;
    border: 0;
    border-radius: .4rem;
    width: 12.5rem;
    font-family:'Montserrat-Bold';
    font-size: 2rem;
    cursor: pointer;
    transition: .2s;
    line-height: 2.8rem;
    text-align: center;

}

.BtnLink {
    align-self: center;
    margin-left: auto;
}

.btnPlanes:hover{
    background-color: #FFAF00;
}

.btnPlanes:active{
    background-color: #ffc300;
}

.Navbutton{
    text-decoration: none;
    width: fit-content;
    background-color: transparent;
    color: white;
    font-family: 'Montserrat-SemiBold', sans-serif;
    border: 0;
    font-size: larger;
    cursor: pointer;
    margin-bottom: 1rem;
}

.Login{
    background-color: transparent;
    color: white;
    font-family: 'Montserrat-regular', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 1.5vw;
    white-space: nowrap;
}

.Login:hover{
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.3); 
}

.LogOptions {
    display: flex;
    align-items: center;
    width: fit-content;
}

.MarginAuto{
    margin-left: auto;
}
.SpecialLI {
    display: flex;
    justify-content: center;

}

.SpecialLI .Login {
    display: none; 
    margin-bottom: 1rem;
}

@media screen and (max-width: 1366px){


    .OptionsContainer{
        gap: 20%;
    }
    .btnPlanes{
        width: 9rem;
        font-size: 1.7rem;
    }

}


@media screen and (max-width: 414px){

    .nav{
        left: 0;
        right: 0;
    }

    .Label{
        display: initial;
        position: relative;
        left: 38%;
    }

    .Label img {
        height: 2rem;
        /* margin-left: auto; */
    }

    .DropMenuPhoneContainer{
        position: absolute;
        top: 100%;
        background: #013565;
        border-top: .1rem solid #FFAF00;
        display: none;
        left: 0;
        right: 0;
    }

    .Navbutton{
        text-align: start;
        padding-left: 1.5rem;
    }

    .OptionsContainer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        /* align-items: flex-start; */
        width: 100%;
    }

    .OptionsContainer li{
        float: left;
    }

    .btnPlanes{
        display: none;
    }

    .Checkbox:checked ~ .DropMenuPhoneContainer{
        display: initial;
    }

    .LogOptions{
        display: none;
    }

    .SpecialLI .Login {
        display: initial;
    }

}

@media screen and (max-width: 360px) {

    .IconContainer {
        margin: 0;
    }
}