.nav{
    padding-top: .6rem;
    padding-bottom: .6rem;
    text-align: center;
    display: flex;
    background-color:#013565 ;
    min-height: 6rem;
    z-index: 99999;
    position: fixed;
    width: 100vw;
}
.Link a {
    text-decoration: none;
}


.IconContainer{
    display: flex;
    align-items: center;
    margin-right: 5%;
    margin-left: .8%;
    cursor: pointer;
}

.IconContainer h2{
    font-family: 'Montserrat-Bold';
    color: #ffffff;
    width: 3rem;
    text-align: start;
    margin-left: 4rem;
}

.IconContainer .IconMan{
    position: absolute;
    height: 5rem;
    width: 5rem;

}

.IconContainer .IconWeight{
    height: 2rem;
    margin-top: 2rem;
    margin-left: .6rem;
}

.OpcionsContainer{
    display: flex;
    gap: 5rem;
    align-items: center;
    margin-right: auto;
}

.btnPlanes{
    margin: auto 0;
    height: 3rem;
    color: #ffffff;
    background-color: #ffc300;
    border: 0;
    border-radius: .4rem;
    width: 15rem;
    font-family:'Montserrat-Bold';
    font-size: 2rem;
    cursor: pointer;
    transition: .2s;
    margin-right: 3%;
    line-height: 2.8rem;

}

.btnPlanes:hover{
    background-color: #FFAF00;
}

.btnPlanes:active{
    background-color: #ffc300;
}

.Navbutton{
    text-decoration: none;
    width: fit-content;
    background-color: transparent;
    color: white;
    font-family: 'Montserrat-SemiBold', sans-serif;
    border: 0;
    font-size: larger;
    cursor: pointer;

}


.btnRegistro{
    padding: .3rem;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-family: 'Montserrat-regular', sans-serif;
    font-weight: 100;
    font-size: 17px;
    margin-left: 2rem;
    margin-right: 1.5rem;
    cursor: pointer;
}
.btnInicioSesion{
    background-color: transparent;
    color: white;
    border: 0;
    font-family: 'Montserrat-regular', sans-serif;
    font-size: 17px;
    margin-left: 1%;
    margin-right: 1%;
    cursor: pointer;
    width: 9rem;;  
}

.LogOpcions{
    display: flex;
    align-items: center;
    margin-right: 1.3%;
    width: fit-content;
}

.LogOpcions .button{
    width: 9rem;
    height: 2rem;
}
@media screen and (max-width: 1366px){

    .nav{
        height: 5rem;
    }
    .OpcionsContainer{
        gap: 3.5rem;
    }
    .btnPlanes{
        width: 10rem;
        font-size: 1.7rem;
    }
    .Navbutton{
        font-size: 1.15rem;
        font-size: 1.06rem;
    }
    .btnRegistro{
        margin-left: 1.5rem;
    }
}