.MainContainer{
    display: inline-block;
    position: absolute;
    width: 78vw;
    height: 99vh;
    margin-right: 5%;
}


.Navigator{
    font-size: 3rem;
    font-family: 'Montserrat-Bold';
    height: 3.5rem;
    color: #013565;
    margin-bottom: 6rem;
    margin-top: 2rem;
}

.BGContainer{
    box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.2);
    padding-top: 1rem;
    width: 70%;
    margin: 0 auto;
    height: fit-content;
}

.Container{
    margin: 0 auto;
    overflow-y: scroll;
    height: 60vh;
    overflow-x: hidden;
    padding-right: 5rem;
    padding-left: 1rem;
    
}

.Info{
    font-family: 'Montserrat-Regular';
    font-weight: 300;
    text-align: center;
    color: #013565;
    margin: 0 ;

}.Title{
    background-color: #ffc300;
    margin-top: 0;
    margin-bottom: 0;
}

.InfoName{
    display: block;
    font-family: 'Montserrat-Regular';
    font-weight: 300;
    color: #013565;
    margin: 0;
    margin-left: 46%;

    
}

.PlusIcon{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 8rem;
}


.Status{
    text-align: start;
    width: 100%;
}

.TitleContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 70%;
    margin: 0 auto;
}

.SectionContainer{
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: solid .3rem #f3f3f3;
}

.SectionContainer img{
    display: inline-block;
    height: 1.8rem;
    width: 1.8rem;
    cursor: pointer;
    margin-right: 2%;
}

.SubContainer{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    
}

.ClaseContainer{
    margin-left: 10%;
}

.InfoNameContainer{
    width: 50%;
}