.MainContainer{
    display: inline-block;
    position: absolute;
    width: 76vw;
    height: 99vh;
    margin: .5% 0;
}

.Container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.2);
}

.Info{
    font-family: 'Montserrat-Regular';
}

.Title{
    background-color: #ffc300;
    margin-top: 0;
    text-align: center;
}